.nav-ul li{
    display: inline-block;
    padding:10px;
  }
  .nav-ul{
    padding:5px;
    margin: 0px;
    background-color:skyblue;
   
  }
  .nav-ul li a{
      color: #ffff;
      padding: 5px;
      text-decoration: none;
      /* float: left; */
      font-size: 25px;
      font-weight: bold;
  }
  .nav-ul li{
    padding: 20px;
   
}
.nav-ul li:hover{
    background-color:lightgreen;
    border-radius: 40px;
}
.nav-ul li:active{
    background-color:red;
}